html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* Center all elements */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn-container ul li {
  /* Buttons */
  --accent: #70a9a1;
  display: inline-block;
  border: 0.2em solid var(--accent);
  border-radius: 0.4em;
  color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5em;
  width: 10em;
  height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden; /* Hides span elements */
  transition: 0.5s;
}
.btn-container ul li span {
  /* Bubbles */
  width: 25%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  /* Calc position of each span based on its number */
  left: calc((var(--n) - 1) * 25%); 
  transform: translateY(150%);
  transition: 0.5s;
  /* Calc trans delay of each span based on its number */
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.btn-container ul li:hover {
  color: white;
}
.btn-container ul li:hover span {
  /* Make bubbles appear when hover */
  transform: translateY(0) scale(2);
}
.btn-container ul li span:nth-child(1) {
  /* First bubble */
  --n: 1; 
}
.btn-container ul li span:nth-child(2) {
  /* Second bubble */
  --n: 2;
}
.btn-container ul li span:nth-child(3) {
  /* Third bubble */
  --n: 3;
}
.btn-container ul li span:nth-child(4) {
  /* Fourth bubble */
  --n: 4;
}
/* Buttons for Top and All Headlines */
.button {
  border: 0;
  border-radius: 3px;
  padding: 16px 26px;
  margin: auto;
  text-align: center;
  background-color: white;
  font-size: 14px; /* Font size */
  transition: all .2s ease-in-out;
}
.button span {
  background: linear-gradient(to right, lightblue, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 0.02em;
}
.button2 span {
  background: linear-gradient(to right, blue, lightblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.button:hover, .button:active {
  cursor: pointer;
}

.button1-border-wrap,
.button2-border-wrap {
  display: inline-block;
  background: linear-gradient(to right, lightblue, blue);
  padding: 4px;
  border-radius: 6px;
  /* transition: all .5s ease-in-out; */
}
.button2-border-wrap {
  background: linear-gradient(to right, blue, lightblue);
  margin-left: 10px;
}
/* Hidden popup form for Top and All */
.popup-top-form, .popup-all-form {
  display: none;
  position: absolute;
  width: 356px;
  border: 3px solid #333;
  border-radius: 3px;
  padding: 70px 0px;
  background-color: white;
}
/* All input options in forms */
.inputs {
  display: block;
  border: 3px solid #333;
  border-radius: 3px;
  width: 300px;
  padding: 15px;
  margin: 10px;
  background-color: white;
}
.search, .close, .select {
  width: 94%;
  cursor: pointer;
}
.search, .close {
  transition-duration: 0.4s;
}
.search:hover, .close:hover {
  background-color: #333;
  color: white;
}
.select option {
  background-color: #333;
  color: white;
}
/* Font size of popup form and keyword hover info */
.inputs, .hidden {
  font-size: 14px;
}
/* Keyword hover info */
.keyword-container {
  position: relative;
}
.hidden {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.keyword:hover + .hidden {
  display: block;
  position: absolute;
  top: 0px;
  right: -345px;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 15px;
  width: 300px;
  background: #333;
  color: white;
  text-align: justify;
}
