html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.landing-container {
  height: 100vh;
  width: 100%;
  /* background-image: url("../landing-bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-color: black;
  /* Center all elements */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn-container ul li {
  /* Buttons */
  --accent: white;
  /* --accent: #70a9a1; */
  display: inline-block;
  border: 0.1em solid var(--accent);
  border-radius: 0.1em;
  color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5em;
  width: 20em;
  height: 2.5em;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden; /* Hides span elements */
  transition: 0.5s;
}
.btn-container ul li span {
  /* Bubbles */
  width: 25%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  /* Calc position of each span based on its number */
  left: calc((var(--n) - 1) * 25%); 
  transform: translateY(150%);
  transition: 0.5s;
  /* Calc trans delay of each span based on its number */
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.btn-container ul li:hover {
  /* color: white; */
  color: #233863;
  cursor: pointer;
}
.btn-container ul li:hover span {
  /* Make bubbles appear when hover */
  transform: translateY(0) scale(2);
}
.btn-container ul li span:nth-child(1) {
  /* First bubble */
  --n: 1; 
}
.btn-container ul li span:nth-child(2) {
  /* Second bubble */
  --n: 2;
}
.btn-container ul li span:nth-child(3) {
  /* Third bubble */
  --n: 3;
}
.btn-container ul li span:nth-child(4) {
  /* Fourth bubble */
  --n: 4;
}
.categ-btns-container ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categ-btns-container ul li {
  margin: 0 12px 0 0;
}
.categ-btns-container ul li button {
  border: 1px solid grey;
  border-radius: 0.1em;
  padding: 8px;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: grey;
  transition: 0.2s;
}
.categ-btns-container ul li button:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px 2px rgba(64,64,64,.08);
  border: 1px solid #222;
  color: #222;
}

.trend-row-con {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.trend-article {
  border-radius: 0 0 50px 50px;
  color: white;
  margin: 0 12px 12px 12px;
  padding: 0;
  height: 260px;
  overflow: hidden;
  position: relative;
  transform: translateY(-50%);
  transition: 0.5s;
}
.trend-article:hover {
  transform: translateY(0);
}
.trend-article-content {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 20px;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none; 
  height: 142px;
  width: 100%;
}
.trend-article-content p {
  display: block;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}
.trend-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#source {
  font-size: 13px;
  font-weight: normal;
  color: lightgrey;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 42px;
}

.content-container {
  display: flex;
  justify-content: center;
}
.articles-container {
  max-width: 1200px;
}
.article {
  width: 300px;
}
.article-img {
  width: 100%;
  height: 200px;
  border: 0.01em solid transparent;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.article-img span {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.article-content:hover .article-img span {
  transition: 0.4s;
  background: rgba(0,0,0,0.2);
}
.article-content:hover .article-title {
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 4px;
}
.article-content {
  margin-bottom: 40px;
  position: relative;
}
.article-content a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.article-info {
  margin-left: 8px;
}
.article-info p {
  display: block;
  line-height: 1.3em;
  padding: 0;
  margin: 8px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.article-src {
  font-size: 12px;
  font-weight: normal;
  color: #333;
}
.article-title {
  font-weight: bold;
}

.category-btns-container {
  height: 100px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0;
}
.categ-bub-cont {
  height: 100%;
  width: 480px;
  position: relative;
}
.categ-bub-cont span {
  width: 77px;
  height: 100%;
  border: 0.1em solid white;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  left: calc((var(--z) - 1) * 16.67%);
  transform: translateY(50%);
  transition: 0.5s;
}
.categ-bub-cont span:hover {
  transform: translateY(40%);
  background-color: white;
  cursor: pointer;
}
.categ-bub-cont span p {
  margin: 0;
  padding: 0;
  position: relative;
  top: -45px;
  text-align: center;
  color: white;
  transition: 0.5s;
  opacity: 0%;
}
.categ-bub-cont span:hover p {
  opacity: 100%;
  cursor: default;
  pointer-events: none;
}
.categ-bub-cont span:nth-child(1) {
  --z: 1;
}
.categ-bub-cont span:nth-child(2) {
  --z: 2;
}
.categ-bub-cont span:nth-child(3) {
  --z: 3;
}
.categ-bub-cont span:nth-child(4) {
  --z: 4;
}
.categ-bub-cont span:nth-child(5) {
  --z: 5;
}
.categ-bub-cont span:nth-child(6) {
  --z: 6;
}

/* .content-container {
  background-color: white;
}
.content-container p {
  margin: 0;
  padding: 0;
  margin: 0px 10px 10px 10px;
}
.content-container p span {
  --accent: #70a9a1;
  border: 0.01em solid var(--accent);
  border-radius: 18px;
  padding: 8px;
  color: var(--accent);
} */

.footer-container {
  height: 25vh;
  background-color: black;
}


/* Hidden popup form for Top and All */
.popup-top-form, .popup-all-form {
  display: none;
  position: absolute;
  width: 356px;
  border: 3px solid #333;
  border-radius: 3px;
  padding: 70px 0px;
  background-color: white;
}
/* All input options in forms */
.inputs {
  display: block;
  border: 3px solid #333;
  border-radius: 3px;
  width: 300px;
  padding: 15px;
  margin: 10px;
  background-color: white;
}
.search, .close, .select {
  width: 94%;
  cursor: pointer;
}
.search, .close {
  transition-duration: 0.4s;
}
.search:hover, .close:hover {
  background-color: #333;
  color: white;
}
.select option {
  background-color: #333;
  color: white;
}
/* Font size of popup form and keyword hover info */
.inputs, .hidden {
  font-size: 14px;
}
/* Keyword hover info */
.keyword-container {
  position: relative;
}
.hidden {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.keyword:hover + .hidden {
  display: block;
  position: absolute;
  top: 0px;
  right: -345px;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 15px;
  width: 300px;
  background: #333;
  color: white;
  text-align: justify;
}
