html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container, .inputs {
  border: 0px;
  border-radius: 50px;
  background-color: #333;
  padding: 15px;
  margin: 0px 5px;
  color: white;
}
.form-container {
  text-align: center;
  padding: 8px;
}
#keyword {
  border: 2px solid white;
  width: 150px;
  transition: all 0.3s ease 0s;
}
#keyword:focus {
  width: 250px;
  outline: 0px dashed white;
  background-color: black;
}
#keyword:hover {
  background-color: black;
}
#search {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: -4px;
  vertical-align: middle;
  transition-duration: 0.3s;
}
#search:focus {
  transition-duration: 0s;
}
#search:hover {
  background-color: black;
  cursor: pointer;
}
