body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* * { border:1px solid green; } */

.sticky-nav-container {
    /* styling */
    overflow: hidden;
    background-color: white;
    color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;

    /* sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    /* align */
    display: flex;
    align-items: center;
}

.logo { margin: 8px 0px 8px 20px; }

nav { margin-left: auto; }

nav a {
    text-decoration: none;
    color: black;
    margin: 4px;
}

nav a:last-child { margin-right: 60px; }

nav a:hover { text-decoration: underline; }

.search-container {
    /* style */
    background-color: white;
    height: 400px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

    /* column align */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container h1 {
    margin: 0 0 40px 0;
    color: white;
}

.search-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 3px solid white;
    border-radius: 3px;
    padding: 18px 22px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 170px;
}

#all-headline-btn { margin-left: 8px; }

.button:hover, .button:active {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: white;
    cursor: pointer;
}

.popup-top-form, .popup-all-form {
    display: none;
}

/* All input options in forms */
.inputs {
    display: block;
    padding: 12px;
    border: 0px solid red;
    font-size: 14px;
}

.search, .close, .select {
    cursor: pointer;
}
.search, .close {
    transition-duration: 0.4s;
}
.search:hover, .close:hover {
    background-color: #333;
    color: white;
}
.select option {
    background-color: #333;
    color: white;
}


#search-btn {
  width: 30px;
  height: 30px;
  padding: 0px;
  /* margin-top: -4px; */
  vertical-align: middle;
  transition-duration: 0.3s;

  position: relative;
  float: right;
  width: 36px;
  height: 36px;
  /* top: -62px; */
  right: 44px;
  /* background-color: black; */
  border: 0px solid white;
}
#search-btn:focus {
  transition-duration: 0s;
}
#search-btn:hover {
  /* background-color: black; */
  cursor: pointer;
}
