<div class="tab-pane fade show active" id="{{ c }}" role="tabpanel" aria-labelledby="{{ c }}-tab" data-pages="{{ pages }}">
    <div class="articles-container container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {% for article in articles.items %}
            <div class="article">
                <div class="card h-100 article-content">
                    <div class="article-img">
                        <img src="{{ article.url_to_image }}" alt=" " />
                        <span></span>
                    </div>
                    <div class="card-body article-info">
                        <!-- <p id="publish-date">{{ article.publish_date }}</p> -->
                    <p class="article-src text-muted">{{ article.source }}</p>
                    <p class="article-title"><strong>{{ article.title }}</strong></p>
                    </div>
                    <a href="{{ article.url }}" target="_blank" rel="noopener noreferrer">
                        <span></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>