<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

<!-- Buttons for Top Headlines and All Headlines -->
<div class="button-container">
    <div class="button1-border-wrap">
        <button class="button button1" id="top-headline-btn" onclick="openForm('my-top-form')">
            <span>Top Headlines</span>
        </button>
    </div>
    <div class="button2-border-wrap">
        <button class="button button2" id="all-headline-btn" onclick="openForm('my-all-form')">
            <span>All Headlines</span>
        </button>
    </div>
</div>

<!-- Popup form for top headlines -->
<div class="popup-top-form" id="my-top-form">
    <form class="top-form" action="{{ url_for('headlines') }}" method="POST">
        <div class="keyword-container">
            <input type="text" class="inputs keyword" name="keyword" placeholder="Enter keyword(s) [optional]">
            <!-- Hidden info popup for keyword search bar -->
            <div class="hidden">Keywords or phrases to search for in the article title and body.</div>
        </div>

        <select class="inputs select" id="country" name="country" required>
            <option value="" disabled selected>Select a country</option>
            {% for country in countries %}
            <option value="{{country[1]}}">{{country[0]}}</option>
            {% endfor %}
        </select>

        <select class="inputs select" id="category" name="category" required>
            <option value="" disabled selected>Select a category</option>
            <option value="general">All</option>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="health">Health</option>
            <option value="science">Science</option>
            <option value="sports">Sports</option>
            <option value="technology">Technology</option>
        </select>

        <input type="submit" class="inputs search" name="submit" value="Search Trending">
        <input type="button" class="inputs close" value="Close" onclick="closeForm('my-top-form')">
    </form>
</div>

<!-- Popup form for all headlines -->
<div class="popup-all-form" id="my-all-form">
    <form class="all-form" action="{{ url_for('headlines') }}" method="POST">
        <div class="keyword-container">
            <input type="text" class="inputs keyword" name="keyword" placeholder="Enter keyword(s)" required>
            <!-- Hidden info popup for keyword search bar -->
            <div class="hidden">Keywords or phrases to search for in the article title and body.</div>
        </div>

        <select class="inputs select" id="language" name="language" required>
            <option value="" disabled selected>Select a language</option>
            {% for language in languages %}
            <option value="{{language[1]}}">{{language[0]}}</option>
            {% endfor %}
        </select>
        
        <select class="inputs select" id="sortby" name="sortby" required>
            <option value="" disabled selected>Select a sorting</option>
            <option value="popularity">Popularity</option>
            <option value="relevancy">Relevancy</option>
            <option value="publishedAt">Newest</option>
        </select>

        <input type="submit" class="inputs search" name="submit" value="Search Everything">
        <input type="button" class="inputs close" value="Close" onclick="closeForm('my-all-form')">
    </form>
</div>

<!-- Put all JS in separate file -->
<script>
    function openForm(form_id) {
        hideButtons()
        document.getElementById(form_id).style.display = "block";
    }
    function closeForm(form_id) {
        document.getElementById(form_id).style.display = "none";
        showButtons()
    }
    function showButtons() {
        document.getElementById("top-headline-btn").style.display = "inline";
        document.getElementById("all-headline-btn").style.display = "inline";
    }
    function hideButtons() {
        document.getElementById("top-headline-btn").style.display = "none";
        document.getElementById("all-headline-btn").style.display = "none";
    }
</script>

</body>
</html>