<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="landing-container">
        <!-- Button for trending headlines -->
        <div class="btn-container">
            <ul>
                <li id="trending-btn" value="trending-btn" onclick="openForm('my-top-form')">
                    Trending
                    <!-- Number of span equals number of bubbles that appear on hover -->
                    <span></span><span></span>
                    <span></span><span></span>
                </li>
            </ul>
        </div>
        <!-- Form for trending headlines -->
        <div class="popup-top-form" id="my-top-form">
            <form method="POST" action="" class="top-form">
                {{ trending_form.csrf_token }}  
                {{ trending_form.keyword(class_=trending_form.keyword.description.class,
                    placeholder_=trending_form.keyword.description.placeholder) }}
                {{ trending_form.category(class_=trending_form.category.description.class) }}
                <input type="submit" class="inputs search" name="submit" value="Search Trending">
                <input type="button" class="inputs close" value="Close" onclick="closeForm('my-top-form')">
            </form>
        </div>
        <div class="category-btns-container">
            <div class="categ-bub-cont">
                <span><p>Health</p></span>
                <span><p>Science</p></span>
                <span><p>Entertainment</p></span>
                <span><p>Technology</p></span>
                <span><p>Business</p></span>
                <span><p>Sports</p></span>
            </div>
        </div>
    </div>
    <div class="content-container">
        <p><span>Top Trending</span></p>
        <div class="carousal-container"></div>
        <p><span>Health</span></p>
        <div class="carousal-container"></div>
        <p><span>Science</span></p>
        <div class="carousal-container"></div>
        <p><span>Entertainment</span></p>
        <div class="carousal-container"></div>
        <p><span>Technology</span></p>
        <div class="carousal-container"></div>
        <p><span>Business</span></p>
        <div class="carousal-container"></div>
        <p><span>Sports</span></p>
        <div class="carousal-container"></div>
    </div>
    <div class="footer-container">
        <a href="/">Link</a>
        <a href="/">Link</a>
    </div>

<!-- Put all JS in separate file -->
<script>
    function openForm(form_id) {
        hideButtons()
        document.getElementById(form_id).style.display = "block";
    }
    function closeForm(form_id) {
        document.getElementById(form_id).style.display = "none";
        showButtons()
    }
    function showButtons() {
        document.getElementById("trending-btn").style.display = "inline-block";
    }
    function hideButtons() {
        document.getElementById("trending-btn").style.display = "none";
    }
</script>

</body>
</html>