<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>

<div class="form-container">
<form action="{{ url_for('headlines') }}" method="POST">
    <input type="text" class="inputs" id="keyword" name="keyword">
    
    <select class="inputs" id="country" name="country">
        {% for country in countries %}
        <option value="{{country[1]}}">{{country[0]}}</option>
        {% endfor %}
    </select>

    <select class="inputs" id="category" name="category">
        <option value="general">General</option>
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="health">Health</option>
        <option value="science">Science</option>
        <option value="sports">Sports</option>
        <option value="technology">Technology</option>
    </select>

    <input type="image" src="{{ url_for('static', filename='search.png') }}" alt="search" class="inputs" id="search">
</form>
</div>

</body>
</html>